{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.district) }}
        {{ form_rest(form) }}
    </div>
    {{ form_errors(form) }}
</div>
<script type="text/javascript">
    
</script>